
h1{
    /* color: blue; */
    font-size: 20px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:blueviolet; */
    text-align: center;
}
p{
    color: red;
    background-color:rgb(12, 2, 1);
    line-height: 50px;
    letter-spacing:2px;
    column-count: 2;
    column-gap: 30px;

}
ul{
    /* border-width: 4px;
    border-style: solid;
    background-color:lightblue; */
    border-bottom: 4px dotted crimson;
    border-left: 9px dashed chocolate;
    border-top: 8px dashed chocolate;

}
li{
    list-style-type: none;
    /* text-shadow: 10px 3px lightblue; */
    text-shadow: #4141ac;

}

